*~

minai_plugin/config.php

*.psc#

Scripts/Source/.#minai_VR.psc

Scripts/Source/.#minai_Survival.psc
/.vscode
skyrimse.ppj
SkyrimSE.code-workspace
minai_plugin/sceneDescriptionsDBImport/imported.txt
minai_plugin/xPersonalitiesDBImport/imported.txt

.vs/

*.php#

minai_plugin/.stfolder/
