
*.php~

sceneDescriptionsDBImport/imported.txt

sceneDescriptionsDBImport/imported.txt~

xPersonalitiesDBImport/imported.txt

xPersonalitiesDBImport/imported.txt~

manifest.json~

*.html~

*.php_???

*.html_???

*.json_???

config.php